:root {
  font-size: 100%;
  line-height: 1.5;

  --dark: 1;
  --invert: 0;

  --text-light: #0f1115;
  --text-dark: #e6e6e6;
  --bg-light: #e6e6e6;
  --bg-dark: #0f1115;
  --link-light: #0051dc;
  --link-dark: #8ab4ff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --dark: 1;
  }
}

:root,
header,
footer,
section {
  --light-dark-ratio: calc(
    var(--dark) * (1 - var(--invert)) + (1 - var(--dark)) * var(--invert)
  );

  --text: color-mix(
    in srgb,
    var(--text-light) calc((1 - var(--light-dark-ratio)) * 100%),
    var(--text-dark) calc(var(--light-dark-ratio) * 100%)
  );
  --bg: color-mix(
    in srgb,
    var(--bg-light) calc((1 - var(--light-dark-ratio)) * 100%),
    var(--bg-dark) calc(var(--light-dark-ratio) * 100%)
  );
  --link: color-mix(
    in srgb,
    var(--link-light) calc((1 - var(--light-dark-ratio)) * 100%),
    var(--link-dark) calc(var(--light-dark-ratio) * 100%)
  );
}

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: 1rlh;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  color: var(--text);
  background: var(--bg);
  font-family: system-ui, sans-serif;
}
a {
  color: var(--link);
}

header[role="banner"],
footer[role="contentinfo"] {
  --invert: 1;
  background: color-mix(var(--bg) 95%, white);

  nav {
    padding: 1lh 0;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 2em;
    justify-content: center;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

main {
  width: 100%;
  max-width: 44em;
  margin: 1lh auto;
  padding: 0 1em;

  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  ol,
  pre {
    margin-bottom: 1rlh;
  }
  h1 {
    font-size: 2rem;
    line-height: 2rlh;
  }
  h2 {
    font-size: 1.25rem;
  }
}
code,
pre {
  font-family: ui-monospace, monospace;
}
pre {
  overflow: auto;
  white-space: pre-wrap;
}
img {
  max-width: 100%;
  height: auto;
}
hr {
  border: none;
  border-top: 1px solid currentColor;
}
